# Assignment 3

## Null hypothesis
### The average time for commute with the new bus routes is more or same as the average time for the original bus 
### (significance = 0.05)

## Alternative hypothesis
### The average commute time with the new bus routes is less than the original bus

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
os.system("mv " "times.txt " + os.getenv("PUIDATA"))

0

In [4]:
data = pd.read_csv(os.getenv("PUIDATA") + '/' + "times.txt", sep='\t', 
                  names = ["values"])

In [5]:
data = pd.DataFrame(data)

In [6]:
data.head()

      values
0  31.622239
1  32.821376
2  30.229101
3  31.413766
4  39.010550

In [7]:
n = len(data)

In [14]:
SamMean = data['values'].mean()
SamStd = data['values'].std()
print "The Sample mean is: ", SamMean
print "The Sample standard deviation is: ", SamStd

The Sample mean is:  34.4661616883
The Sample standard deviation is:  7.13728013375

In [15]:
PopMean = 36.0
PopStd = 6.0

In [16]:
s = np.sqrt(n)
print s

10.0

In [17]:
stdErr = PopStd/s
print stdErr

0.6

In [18]:
z = (PopMean-SamMean)/stdErr

In [19]:
print "The z value is: ", z

The z value is:  2.55639718617

### The z value is 2.55 which means that the new observations is 2.55 standard deviations away from the old mean. We had set the significance level of 0.05 which corresponds to the 2 std deviations.

### The null hypothesis should therefore be rejected